/* Laptop view */
#leftright{
    display: flex;
    align-items: center;
}
#left{
    width: 200px;
}
#right{
    margin-left: auto;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    color:#3bbed8;
    background-color: #e5f9fd;
}
nav{
    flex:1;
}
ul{
    display: flex;
    justify-content:center;
    gap: 70px;
    list-style: none;
    
    font-family: Georgia, 'Times New Roman', Times, serif; ;
}
.info:hover{
    color: red;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    transform: scaleY(1);
}
.info{
    padding: 20px;
    font-size: small;
    background-color:  #e5f9fd;
    border-radius: 25px;
    text-decoration: none;
    color:#05b5d8;
    transition-duration: 0.5s;
}

#Hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

#heroleft{
    font-size: 20px;

}
#heroleft h2{
     color: #00b4d8
}
#heroright{
    margin-top: 50px;
    margin-left: 30px;
}
#img{
    animation: firstanimation 3s linear  infinite ;
}
@keyframes firstanimation {
    0%{
        transform: rotateY(-20deg);
    }25%{
        transform:rotateY(20deg);
    }50%{
        transform: rotateX(20deg);
    }100%{
        transform: rotateY(-20deg);
    }
    
}
#btn{
    padding: 20px;
    width: 500px;
    border-radius: 35px;
    font-size:medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#4798f4;
    color: white;
    transition-duration: 0.5s;
    border: none;
}
#btn:hover{
    transform: rotate(-4deg);
}










@media (min-width : 992px) and (max-width : 1199px) { /* tablet view*/
    ul{
    list-style: none;
    text-align: center;
    block-size: 40px;
    }

    li{
    display: inline-block;
    margin-top: 5vh;
    margin-right :5vw; 
    margin-bottom: 0vh;
    font-size: 2vw;
    }

    #right{
    position: absolute;
    top: 1vh;
    right: 1vw;
    padding: 2vh;
    /* border: solid; */
    color:#3bbed8 ;
    background-color:#dcf9ffdf;
    border-radius: 2vb;
    letter-spacing: 0.05vw;
    }

    #heroright{
    position: absolute;
    right: 10vw;
    top: 26vh;
    }

    #heroleft{
    position: absolute;
    top: 25vh;
    left: 10vw;
}
}

/* tablet view*/
@media (min-width : 768px) and (max-width : 991px) { 
    ul{
    list-style: none;
    text-align: center;
    block-size: 40px;
    }

    li{
    display: inline-block;
    margin-top: 5vh;
    margin-right :5vw; 
    margin-bottom: 0vh;
    font-size: 2vw;
    }

    #right{
    position: absolute;
    top: 1vh;
    right: 1vw;
    padding: 2vh;
    /* border: solid; */
    color:#3bbed8 ;
    background-color:#dcf9ffdf;
    border-radius: 2vb;
    letter-spacing: 0.05vw;
    }

    #heroright{
    position: absolute;
    right: 2vw;
    top: 26vh;
    }

    #heroleft{
    position: absolute;
    top: 25vh;
    left: 2vw;
}
}

/* Large mobile */
@media (min-width : 577px) and (max-width : 767px) { 
     ul{
    list-style: none;
    text-align: center;
    block-size: 0px;
    }

    li{
    display: none;
    margin-top: 0vh;
    margin-right :0vw; 
    margin-bottom: 0vh;
    font-size: 0vw;
    }
    #leftright{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

#left, #right{
    position: static;
}

    #right{
    display: flex;
    color:#3bbed8 ;
    background-color:#dcf9ffdf;
    border-radius: 2vb;
    letter-spacing: 0.05vw;
    }

    #left{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0 0 0;
    }
    #Hero{
        display: flex;
        flex-direction: column;
    }
    #heroright{
        margin-top: 5%;
        position: static;
        margin-left: 50px;
    }

    #heroleft{
        margin-top: 0%;
        position: static;
    }
    #heroleft h1{
        font-size:27px;
    }

    #heroleft h2{
        margin-top: 2px;
        font-size: 27px;
        color: #00b4d8;
    }
    #heroleft p{
        font-family: 'Poppins', sans-serif;
        font-size:12px;
        color: #555;line-height: 1.6;
    }
    #btn{
        font-size: 15px;
    }
}
/* Mobile */
@media (min-width : 320px) and (max-width : 576px) { 
    ul{
    list-style: none;
    text-align: center;
    block-size: 0px;
    }

    li{
    display: none;
    margin-top: 0vh;
    margin-right :0vw; 
    margin-bottom: 0vh;
    font-size: 0vw;
    }
    #leftright{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

#left, #right{
    position: static;
}

    #right{
    display: flex;
    color:#3bbed8 ;
    background-color:#dcf9ffdf;
    border-radius: 2vb;
    letter-spacing: 0.05vw;
    }

    #left{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px 0 0 0;
    }
    #Hero{
        display: flex;
        flex-direction: column;
    }
    #heroright{
        margin-top: 5%;
        position: static;
        margin-left: 50px;
    }

    #heroleft{
        margin-top: 0%;
        position: static;
    }
    #heroleft h1{
        font-size:27px;
    }

    #heroleft h2{
        margin-top: 2px;
        font-size: 27px;
        color: #00b4d8;
    }
    #heroleft p{
        font-family: 'Poppins', sans-serif;
        font-size:12px;
        color: #555;line-height: 1.6;
    }
    #btn{
        font-size: 15px;
    }
}